/* フラッシュメッセージのスタイル */
.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.header {
    height: 80px;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    display: flex;
    background-color: black;
}

.headerlogo img {
    width: 300px;
    color: white;
}

.searchBox {
    margin-left: 100px;
}

.searchBox form input {
    width: 400px;
    height: 50px;
    border-radius: 3px;
}

.searchButton {
    width: 60px;
    height: 50px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.headerLinks {
    font-size: 15px;
    align-items: center;
    gap: 15px;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

.headerLinks form {
    font-size: 15px;
    align-items: center;
}

.headerLinks form button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 5px;
}

.headerLinks form button.sell {
    background-color: white;
    color: black;
    font-weight: normal;
    width: 60px;
    border-radius: 2px
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        font-size: 18px;
    }

    .headerlogo img {
        width: 200px;
        margin-bottom: 10px;
    }

    .searchBox {
        margin-left: 0;
        width: 100%;
    }

    .searchBox form {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .searchBox form input {
        flex: 1;
        width: 90%;
    }

    .searchButton {
        width: 10%;
    }

    .headerLinks {
        display: flex;
        justify-content: right;
        gap: 10px;
        margin-top: 20px;
        width: 45%;
    }

    .headerLinks form {
        width: 80%;
        display: flex;
        justify-content: right;
    }

    .headerLinks form button {
        padding: 5px 5px;
        justify-content: right;
    }

    .headerLinks form button.sell {
        width: 80%;
    }

    .alert-success,
    .alert-danger {
        font-size: 14px;
        padding: 8px 15px;
    }
}