.header {
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    display: flex;justify-content: space-between;
    background-color: black;
}

.headerlogo {
    width: 300px;
    margin-left: 10px;
    color: white;
}

.searchBox{
    align-items: center;
    margin-right: 300px;
}

.searchBox form input{
    width: 400px;
    height: 40px;
    border-radius: 3px;
}

.searchButton {
    height: 40px;
    border-radius: 3px;
}

.headerLinks {
    align-items: center;
    gap: 15px;
    display: flex;
    margin-right: 10px;
}

.headerLinks form {
    font-size: 15px;
    align-items: center;
}

.headerLinks form button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 5px;
}

.headerLinks form button.sell{
    background-color: white;
    color: black;
    font-weight: normal;
    width: 60px;
    border-radius: 2px
}

.content {
    justify-content: center;
    margin-top: 200px;
}