/* フラッシュメッセージのスタイル */
.postingAnnounce {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.displaySelectionArea{
    display: flex;
    align-items: center;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    padding-left: 50px;
}

.displaySelection{
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
    padding-bottom: 10px;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.displaySelection.active {
    color: #ff5555;
}

.posted:hover {
    color: #007BFF;
    /* ホバー時の色 */
}

.displayArea{
    margin: 30px;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
}

.itemArea {
    text-align: center;
    /* 商品画像と商品名を中央揃え */
    margin: 30px;
    /* 商品アイテムの間隔 */
    display: inline-block;
    /* アイテムを横並びに表示 */
    width: 250px;
}

.itemImageContainer {
    width: 230px;
    height: 250px;
    overflow: hidden;
    /* 画像がはみ出さないようにする */
    margin-bottom: 8px;
    /* 画像と商品名の間隔 */
}

.itemImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 縦横比を保ちながらコンテナに収める */
    border: 1px solid black;
}

.defaultItemImage {
    width: 100%;
    /* デフォルトの画像の幅を合わせる */
    height: 100px;
    /* 画像の高さ */
    background-color: #ddd;
    /* 画像がない場合の背景色 */
}

.itemName {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sold-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}