.upperArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px;
}

.profileIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ユーザー画像が登録されている場合の画像スタイル */
.profileIconImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像が枠にぴったり収まるように調整 */
}

/* 画像が登録されていない場合の丸いアイコン */
.defaultProfileIcon {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ddd;
    border-radius: 50%;
}

.nameAndRate {
    margin-left: 100px;
}

.userName {
    font-weight: bold;
    font-size: 30px;
}

.filled-star {
    color: #FFD700;
    font-size: 24px;
}

.empty-star {
    color: #DDD;
    font-size: 24px;
}

.editProfile {
    font-size: 18px;
    font-weight: bold;
    color: #FF5555;
    background-color: white;
    border: 2px solid #FF5555;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    margin-left: 200px;
}

.displaySelection {
    display: flex;
    align-items: center;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.posted {
    font-size: 20px;
    font-weight: bold;
    margin: 50px;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.posted:hover {
    color: #ff5555;
    /* ホバー時の色 */
}

.displayArea {
    margin: 30px;
}

.item-count {
    background-color: red !important;
    color: white !important;
    border-radius: 40% !important;
    font-weight: bold !important;
    font-size: 20px !important;
    text-align: center !important;
    min-width: 16px !important;
    height: 29px !important;
    line-height: 20px !important;
    padding: 3px 8px !important;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
}

.itemArea {
    text-align: center;
    /* 商品画像と商品名を中央揃え */
    margin: 30px;
    /* 商品アイテムの間隔 */
    display: inline-block;
    /* アイテムを横並びに表示 */
    width: 250px;
}

.itemImageContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
}

.itemImageWrapper {
    position: relative;
    display: inline-block;
}

.unread-count {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
}

.itemImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
}

.defaultItemImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ddd;
}

.itemName {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .upperArea {
        display: flex;
        align-items: center;
        margin: 30px;
        text-align: center;
    }

    .userName {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 20%;
        margin-top: 10px;
    }

    .editProfile {
        margin-left: 30px;
        margin-top: 10px;
        padding: 6px 15px;
        font-size: 14px;
    }
}