
.upperArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px;
}

.profileIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ユーザー画像が登録されている場合の画像スタイル */
.profileIconImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像が枠にぴったり収まるように調整 */
}

/* 画像が登録されていない場合の丸いアイコン */
.defaultProfileIcon {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    /* 背景色を #D9D9D9 に */
    border-radius: 50%;
    /* 丸型にする */
}

.userName{
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
}

.editProfile {
    font-weight: bold;
    color: #FF5555;
    background-color: white;
    border: 2px solid #FF5555;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 200px;
}

.displaySelection{
    display: flex;
    align-items: center;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.posted {
    font-size: 20px;
    font-weight: bold;
    margin: 50px;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.posted:hover {
    color: #ff5555;
    /* ホバー時の色 */
}

.displayArea {
    margin: 30px;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
}

.itemArea {
    text-align: center;
    /* 商品画像と商品名を中央揃え */
    margin: 30px;
    /* 商品アイテムの間隔 */
    display: inline-block;
    /* アイテムを横並びに表示 */
    width: 250px;
}

.itemImageContainer {
    width: 230px;
    height: 250px;
    overflow: hidden;
    /* 画像がはみ出さないようにする */
    margin-bottom: 8px;
    /* 画像と商品名の間隔 */
}

.itemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 縦横比を保ちながらコンテナに収める */
    border: 1px solid black;
}

.defaultItemImage {
    width: 100%;
    /* デフォルトの画像の幅を合わせる */
    height: 100px;
    /* 画像の高さ */
    background-color: #ddd;
    /* 画像がない場合の背景色 */
}

.itemName {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}