.entire {
    display: flex;
    padding: 100px;
}

.pageLeftSide {
    width: 65%;
}

.itemDescriptionArea {
    display: flex;
    height: 300px;
    border-bottom: 1px solid black;
}

.itemImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.defaultItemImage {
    width: 100%;
    background-color: #ddd;
}

.itemInfoArea {
    margin-left: 40px;
}

.itemName {
    font-size: 30px;
    font-weight: bold;
}

.itemCost {
    display: flex;
    font-size: 30px;
    margin-top: -20px;
}

.paymentSelectionArea,
.deliveryInfoArea {
    height: 200px;
    padding: 20px;
    border-bottom: 1px solid black;
}

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
}

.paymentSelect {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
}

.titleAndButtonArea {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.addressChange {
    color: #0073ce;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.addressInfo {
    margin-top: -20px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 18px;
}

.addressAndBuilding {
    display: flex;
}

.pageRightSide {
    margin-left: 80px;
    width: 35%;
}

.summaryBox {
    border: 1px solid black;
}

.lowerArea {
    border-top: 1px solid black;
}

.upperArea,
.lowerArea {
    font-size: 25px;
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.finalPurchaseButton {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    font-size: 25px;
    color: white;
    background-color: #ff5555;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1399px) {
    .entire {
        display: block;
        padding: 100px;
    }

    .pageLeftSide,
    .pageRightSide {
        width: 100%;
        margin: auto;
    }

    .itemDescriptionArea {
        width: 100%;
        height: 350px;
        display: block;
    }

    .itemImage {
        margin: auto;
        width: auto;
        height: 250px;
    }

    .itemInfoArea {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 15px;
    }

    .summaryBox {
        margin: 20px auto;
    }
}