.itemSection {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid black;
}

.itemImage {
    width: 200px;
    height: 200px;
}

.itemInfo {
    padding: 10px;
    margin-left: 20px;
}

.itemInfo h2 {
    font-size: 48px
}

.itemInfo h3 {
    font-size: 36px
}

/* 768px から 1200px の画面幅に適用されるスタイル */
@media (min-width: 768px) and (max-width: 1200px) {

    /* アイテムセクションの調整 */
    .itemSection {
        align-items: flex-start;
        padding: 15px;
    }

    .itemImage {
        width: 30%;
        height: auto;
        margin-bottom: 15px;
    }

    .itemInfo {
        padding: 10px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .itemInfo h2 {
        font-size: 32px;
        /* 少し小さめに調整 */
    }

    .itemInfo h3 {
        font-size: 24px;
        /* フォントサイズを少し調整 */
    }

}